

/* *{
  margin:0;
  padding: 0;
 box-sizing: border-box;
}
.hero{
  width: 100%;
  height:100vh;
  background-image: linear-gradient(rgba(12, 3, 51,0.3),rgba(12, 3, 51,0.3));
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content{
  text-align: center;
} */

.heading {
  margin-top: 20px;
}

.back-video{
  position: absolute;
  right: 0;
  bottom:0;

  z-index: -1;

}
@media (min-aspect-ratio:16/9){
  .back-video{
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio:16/9){
  .back-video{
    width: auto;
    height: 100%;
  }
}

/*@media only screen and (max-width: 600px) {
  .....
}*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*.login {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: green;
}*/



.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /*max-width: 50%;*/
  /*border: 1px solid black;*/
  background-color: rgba(211,211,211,.5);
  width: 40%;
  margin: auto 50%;
}

.column2 {
  background-color: rgba(211,211,211,.5);
}

.email {
 /* background-color: lightgray;*/
}


/*.container {
  width: 50vw;
  margin: auto;
  max-width: 200px;
}*/

.row {
  /*width: 500px;
  margin: auto 50% auto 50%;*/
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 500px;
}

.heading {
  text-align: center;
}

.column1 {
  position: relative;
}

.column2 {
  position: absolute;
  top: 420px;
  text-align: center;
  /*margin: auto;*/
  /*border: 1px solid black;*/
  width: 40%;
}

/*@keyframes google {
  0% {background-color: #4285F4;}
  25% {background-color: #DB4437;}
  50% {background-color: #F4B400;}
  75% {background-color: #0F9D58;}
  100% {background-color: #0F9D58;}
}*/

.column2 {
  /*border-radius: 10px;*/
}

.column2:hover {
  /*background-color:rgba(255,255,255,0.5);*/
  /*border-radius: 10px;*/
  text-decoration: underline;
  opacity: 0.8;
  animation-name: google;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  cursor: pointer;
}


/*.column1, .column2 {
  margin: auto;
  width: 50em;
  max-width: 300px;
  border: 1px solid black;
}*/

@keyframes anim {
  0% {/*background-color: black;*/ border: 2px solid black;}
  25% {/*background-color: gray;*/ 
    border-left: 2px solid white;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }
  50% {/*background-color: black;*/ 
    border-left: 2px solid black;
    border-top: 2px solid white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }
  75% {/*background-color: gray; */
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid white;
    border-bottom: 2px solid black;
  }
  100% {/*background-color: black; */
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid white;
  }
}

.loginbutton {
  margin-top: 20px;
  animation-name: anim;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  /*margin:auto 50%;*/
  /*justify-content: center;
  display: flex;
  align-items: center;*/
}

input {
  box-shadow: 5px 4px 4px rgba(0,0,0,0.4);
  /*transition: width 0.6s ease-in-out; */
}

input:focus {
  width: 105%;
  transition: width 0.4s ease-out;

}

.logindiv {
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}


.sign:hover {
  text-decoration: underline;
}

.google {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.create {
  margin-top: 10px;
  text-align: center;
  position: relative;
}

.password {
  font-family: FontAwesome;
  font-size: 10px;
  font-weight: normal;
  overflow: visible;
}

.pass {
  margin-top: 10px;
}

.forgot {
  float: right;
}

.hr-lines {
  display: flex;
  flex-direction: row;
}

.hr-lines:before, .hr-lines:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.hr-lines:before {
  margin-right: 10px;
}
.hr-lines:after {
  margin-left: 10px;
}



/* form {
  border: 3px solid #f1f1f1;
}

Full-width inputs */
/* input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
} */
/* .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
img.avatar {
  width: 30px;
  border-radius: 50%;
  height: 30px;
} */
